

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(137, 43, 226, 0.329);
}
h1,h2 {
    margin:0
}

h3 {
    margin-top: 2em;
    text-align: center;
    width: 300px;
    padding-bottom: 1em;
    border-bottom: dashed grey 1px;
}

.row {
    display: flex;
}

.box {
    height:100px;
    width:100px;
    border: solid grey 1px ;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
}